body {
  background-image: url('../img/greenleaf.jpg');
  background-size: cover;
  background-position: center;
}
.custom-select-container {
  height: 800px; /* Altura desejada */
}

.botaomodal {
  margin-top: 50px;
  border: 2px solid green;
  height: 80px;
  width: 200px;
  border-radius: 10px;
}

.botaomodal:hover{
  background-color: green;
  transition: 0.8s
}

.loading-animation {
  text-align: center;
  padding: 20px;
}

.loading-animation img {
  width: 50px;
  height: 50px;
  animation: spin 3s linear infinite;

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}